<!-- Section: Select Person Type -->
<div class="person-type" style="display: none;">
	<ul class="tabs">
		<li data-tag="men"><a href="#men">Mens</a></li>
		<li data-tag="women"><a href="#women" class="active">Womens</a></li>
		<li data-tag="kids"><a href="#kids">Kids</a></li>
		<li data-tag="baby"><a href="#baby">Babies</a></li>
		<li data-tag="goods"><a class="inactive" href="#goods">Home Goods</a></li>
	</ul>
	
	<div class="products">
		<div class="person" id="men" style="display: none;"></div>
		<div class="person" id="women" style="display: block;"></div>
		<div class="person" id="kids" style="display: none;"></div>
		<div class="person" id="baby" style="display: none;"></div>
		<div class="person" id="goods" style="display: none;"></div>
	</div>
</div>
<!-- End Section: Select Person Type -->