<aside id="modal-free-shipping" class="mfp-with-anim mfp-hide mfp-dialog mfp-dialog-big clearfix modal-free-shipping">
  <div class="container full-width">
    <div style="padding:7px;">
      <p><img src="{{ 'free-shipping-image.png' | asset_img_url: '1000x' }}" alt="" class="img-responsive"></p>
      <p class="lead text-center">Here at Sons of Gotham, we feel that our customers should have the easiest online shopping experience.  That’s why we want every purchase to have free shipping and free returns. It doesn’t get any easier than that.</p>
      <p class="lead text-center">Every purchase at Sons of Gotham, you get free shipping.  No minimum price needed, no minimum items needed. Who doesn’t love free?  Your order will be shipped out in 2 to 5 days after it has been printed to perfection.</p>
      <p class="lead text-center">Incase you don’t like your item (which we find hard to believe), we’ll provide you with a free return label within 60 days of your purchase date.  You will be provided with a full refund after our team inspects the item(s) and verifies they are unworn, unwashed, intact, and free of any signs of wear.</p>
      <p class="lead text-center">To start your return, just head on over to <a href="https://returns.sonsofgotham.com/">returns.sonsofgotham.com</a> to get started. Once you print your return label, the steps are simple: pack it, stick it, ship it.  Hand it off to your local Post Office, in your mailbox (just put that little red flag up) or drop it in one of those big blue mailboxes and we will take care of the rest. We’ll keep you updated via email with your return so you are always in the know.  See, we weren’t joking about this being an easy experience.</p>
      <p class="text-center"><button id="modal-free-shipping-close" class="action_button ">GOT IT</button></p>
    </div>
  </div>
</aside>