{% unless template contains "index" %}
  <div class="container social-feeds-wrap">
    <div class="section clearfix homepage_content">
      <div class="sixteen columns">
        <h2 class="title insta center">
          <a href="http://instagram.com/sonsofgotham" target="_blank"> <img src="//cdn.shopify.com/s/files/1/1325/3287/t/17/assets/instagram-logo_32x@2x.progressive.jpg?7190577359979895121" width="32" height="32" style="margin-right: 15px">@SONSOFGOTHAM</a>
        </h2> 
        <div id="instafeed" class="js-instafeed" data-client-id="455713893.a8e91e2.a083641ffdd54d0aa7d6248e81eecd56" data-count="4">
        </div>
      </div>
    </div>
  </div>
{% endunless %}
<div class="elfsight-sapp-6d172630-a627-11e8-a5a8-3bb1dd699614"></div>